<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JSCoreANE.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>JSCoreANEIOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8489384319F6A75700A19F77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8489385A19F6A75800A19F77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8489391019F730A400A19F77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8489391E19F730A400A19F77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
